main {
    height: 100%;
    width: 100%;
    padding: 50px 0;
}

.main-container {
    max-width: 1320px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(240px, 330px);
    row-gap: var(--size-4);
}

.main-container .card {
    background-color: var(--color-dark-20);
    border-radius: var(--size-1);
    border: 2px solid var(--color-dark-40);
    padding: var(--size-5);
    display: grid;
    align-items: center;
    gap: var(--size-2);
    transition: all 0.4s linear;
}

.main-container .card:hover {
    border: 2px solid var(--color-primary);
}

.main-container .card .card-header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: start;
    align-items: center;
}

.main-container .card .card-header > p {
    font-family: var(--inter);
    font-size: var(--fs-1);
    line-height: 20px;
    color: var(--color-primary);
}

.main-container .card .card-header > img {
    cursor: pointer;
    width: 32px;
}

.main-container .card .card-header > img:hover,
.heartClicked {
    background-image: url("../../../../../docs/images/icon-heart.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-container .card h1 {
    font-family: var(--spacegrotesk);
    font-size: var(--fs-3);
    line-height: 30px;
    color: var(--color-white);
}

.main-container .card > p {
    font-family: var(--inter);
    font-size: var(--fs-2);
    line-height: 32px;
    color: var(--color-gray);
}

@media screen and (max-width: 1350px) {
    .main-container {
        max-width: 1140px;
        padding: 0 25px;
    }

    .main-container .card {
        gap: var(--size-1);
    }

    .main-container .card .card-header > p {
        font-size: var(--fs-1);
        line-height: 20px;
    }

    .main-container .card h1 {
        font-size: var(--fs-2);
        line-height: 30px;
    }

    .main-container .card > p {
        font-size: var(--fs-1);
        line-height: 25px;
    }
}

@media screen and (max-width: 992px) {
    .main-container {
        max-width: 960px;
    }
}

@media screen and (max-width: 768px) {
    .main-container {
        max-width: 720px;
        padding: 0 15px;
    }

    .main-container .card {
        gap: var(--size-1);
    }

    .main-container .card .card-header > p,
    .main-container .card > p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 576px) {
    .main-container {
        max-width: 100%;
    }

    .main-container .card {
        padding: var(--size-2);
        gap: 8px;
    }

    .main-container .card .card-header > p,
    .main-container .card > p {
        font-size: 14px;
        line-height: 20px;
    }

    .main-container .card h1 {
        font-size: var(--fs-1);
        line-height: 20px;
    }
}
