@font-face {
    font-family: "Inter";
    src: url("../../docs/fonts/Inter-Medium.woff");
}

@font-face {
    font-family: "SpaceGrotesk";
    src: url("../../docs/fonts/SpaceGrotesk-Medium.woff");
}
