/* Reset do CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

/* Alterando a cor da seleção */
::selection {
    background-color: var(--color-beige);
    color: var(--color-black);
}

/* Alterando a cor da scrollbar */
::-webkit-scrollbar {
    width: var(--size-1);
}

::-webkit-scrollbar-track {
    background: var(--color-dark-30);
    border-radius: var(--size-3);
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: var(--size-3);
}

/* Estilos do documento */
html,
body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-color: var(--color-dark-10);
    color: var(--color-white);
}
