:root {
    /* Cores */
    --color-primary: #e07b67;
    --color-dark-10: #121214;
    --color-dark-20: #17171a;
    --color-dark-30: #202024;
    --color-dark-40: #252529;
    --color-gray: #afabb6;
    --color-beige: #f0e0d6;
    --color-black: #000000;
    --color-white: #ffffff;

    /* Fontes */
    --inter: "Inter";
    --spacegrotesk: "SpaceGrotesk";

    /* Tamanhos de fontes */
    --fs-xsm: 1rem;
    --fs-1: 1rem;
    --fs-2: 1.25rem;
    --fs-3: 2rem;
    --fs-4: 2.5rem;

    /* Tamanhos */
    --size-1: 0.5rem;
    --size-2: 1rem;
    --size-3: 1.25rem;
    --size-4: 2rem;
    --size-5: 2.5rem;
    --size-6: 4rem;
}
